$font-primary:'Oswald', sans-serif;
$font-secondary:'Lato', sans-serif;

// colores
$pink:#ed1c94;
$blue: #0d6efd;
$indigo: #6a0dac;
$purple2:#981df0;
$purple: #6d0eb1;
$pink2: #d63384;
$red: #dc3545;
$yellow: #ffec17;
$white: #fff;
$gray: #000;
$gray-dark: #343a40;
$gray-light:#f2f3f9;
$gray-space:#c2c2c3;
$facebook: #3b5998;
$twitter:#00acee;
$instagram:#C13584;
$google:#EF3C1C;
$linkedin:#0e76a8;
$blue-light:#29293a;
$dark-light:#838386;
$dark-gray:#cacbd3;
$gradient:linear-gradient(to right, $pink 50%, $purple 120%);
//Responsibe

