.Home {
  &Contact {
    background: linear-gradient(to right, $purple 20%, $pink);
    padding: 40px 0px;
    text-align: center;
    @include media-breakpoint-down(lg) {
      padding: 40px 0;
    }
    &-text {
      font-family: $font-secondary;
      font-size: 24px;
      margin: 0;
      font-weight: 300;
      color: $white;
      line-height: 1.55;
      @include media-breakpoint-down(lg) {
        font-size: 19px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 18px;
      }
    }

    &-link {
      color: $yellow;
      font-weight: 700;
      text-decoration: none;
      transition: 0.25s;

      &:hover {
        color: $white;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      @include media-breakpoint-down(lg) {
      }
    }

    &-span {
      font-weight: 700;
      margin-left: 15px;
      margin-right: 7px;
      @include media-breakpoint-down(lg) {
      }
    }

    &-hot {
      margin-left: 18;
      padding: 5px 18px;
      font-size: 16px;
      font-weight: 700;
      font-family: $font-secondary;
      border: 1px solid $purple;
      background-color: $purple2;
      color: $white;
      @include media-breakpoint-down(lg) {
      }
      @include media-breakpoint-down(lg) {
      }
    }
  }
}
