.button{
    font-family: $font-primary;
    color: $white;
    text-transform: uppercase;
    background-color: $pink;
    padding:14px 38px;
    border:1px solid $pink;
    border-radius: 25px;
    letter-spacing: 2px;
    align-self: center;
    width: 100%;
    max-width: 250px;
    text-decoration: none;
    &:hover{
        color: $white;
        background-color: $purple;
        border:1px solid $purple;
    }

    &.outline {
        background-color: transparent;
        &:hover{
            color: $white;
            background-color: $indigo;
            border-color: $indigo;
        }
    }
}