.Card {
  padding-top: 125px;
  padding-bottom: 125px;
  @include media-breakpoint-down(lg) {
    padding-top: 80px;
    padding-bottom: 1px;
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0;
  }
  &Container {
    display: flex;
    align-items: center;
    justify-content: center;
    &-row {
      width: 95%;
      @include media-breakpoint-down(lg) {
        margin: 0 15px;
      }
      @include media-breakpoint-down(sm) {
      }
    }
    &-social {
      margin-bottom: 15px;
    }
    &Item {
      max-width: 390px;
      border: 1px solid $gray-space;
      border-radius: 8px;
      padding: 40px 45px 45px;
      transition: 450ms ease-in-out;
      &:hover {
        background-color: $gray-light;
        border-color: $gray-light;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 50px;
        padding: 20px 15px;
      }
      @include media-breakpoint-down(sm) {
      }
      &-title {
        font-family: $font-secondary;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 22px;
        @include media-breakpoint-down(lg) {
          font-size: 20px;
        }
        @include media-breakpoint-down(sm) {
          font-size: 18px;
        }

        &::after {
          display: block;
          content: "";
          background-color: $gray-dark;
          height: 1px;
          width: 280px;
          opacity: 0.2;
          margin: 30px auto 0px auto;
          @include media-breakpoint-down(sm) {
            width: 270px;
          }
        }
      }
      &-text {
        font-size: 18px;
        color: $dark-light;
        line-height: 1.5556;
        font-weight: 300;
        font-family: $font-secondary;
        text-align: left;
        @include media-breakpoint-down(sm) {
          font-size: 15px;
        }
      }
    }
  }
}
