.Consultation {
  background: linear-gradient(to right, $purple 20%, $pink);
  padding: 100px 0;
  background-size: cover;
  max-width: 100%;
  @include media-breakpoint-down(lg) {
    padding: 40px;
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0;
    text-align: center;
    font-size: 16px !important;
    flex-direction: column;
  }
  &Body {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &-title {
    font-family: $font-primary;
    letter-spacing: 0.06em;
    font-weight: 400;
    color: $yellow;
    margin-bottom: 24px;
    font-size: 48px;
    @include media-breakpoint-down(lg) {
      font-size: 28px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }
  &-text {
    font-family: $font-secondary;
    color: $white;
    font-weight: 300;
    font-size: 24px;
    @include media-breakpoint-down(lg) {
      margin-top: 20px;
      font-size: 19px;
      max-width: 471px;
      margin-left: auto;
      margin-right: auto;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      font-size: 18px;
      max-width: 330px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .button {
    border: 2px solid $white;
    background-color: transparent;
    max-width: 230px;
    padding: 15px 62px;
    @include media-breakpoint-down(lg) {
      padding: 14px 55px;
      max-width: 210px;
    }
    @include media-breakpoint-down(sm) {
      margin: 30px 0 0;
      width: 50%;
      font-size: 18px;
      padding: 9px 10px;
    }
  }
}
