.Footer {
  background-color: $blue-light;
  padding: 90px 0 50px;
  color: $white;

  &-divider {
    margin: 70px auto 40px;
    border-bottom: 1px solid $dark-gray;
    border-color: rgba(255, 255, 255, 0.2);
  }

  &About {
    padding: 0 15px;
    margin-bottom: 50px;
  }
  &-body {
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &-text {
    margin: 30px 14px 0 0;
    line-height: 1.6;
    font-size: 18px;
    font-family: $font-secondary;
    font-weight: 300;
    text-align: left;
  }
  &-title {
    font-size: 24;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1.92px;
    font-family: $font-primary;
    text-align: left;
    text-transform: uppercase;
  }
  &Galery {
    margin-bottom: 50px;
    padding: 0 15px;
    &-grid {
      margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(3, 75px);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 35px;
      grid-row-gap: 10px;
    }
    &-item {
      width: 99.98px;
      height: 99.98px;
      &:hover {
        background-color: $purple;
        cursor: pointer;
        &::before {
          color: $white;
          position: absolute;
          display: block;
          content: "+";
          z-index: 0;
          font-size: 24px;
          margin: 32px 43px;
        }
      }
    }
    &-img {
      width: 99.98px;
      height: 99.98px;
      object-fit: cover;
    }
  }
  &Contact {
    padding: 0 15px;
    margin-bottom: 50px;
    &-list {
      margin-top: 30px;
      padding: 0px !important;
      list-style: none;
    }
    &-link {
      margin-top: 15px;
      max-width: 310px;
      @include media-breakpoint-down(sm) {
        max-width: 400px;
      }
    }
    &-item {
      color: $white;
      font-size: 18px;
      font-weight: 300;
      font-family: $font-secondary;
      line-height: 1.55;
      text-decoration: none;
      @include media-breakpoint-down(sm) {
        font-size: 15px;
      }

      &:hover {
        color: $purple2;
      }
    }
    &-icon {
      color: $pink;
      font-size: 20px;
      margin-right: 6px;
    }
  }

  &Social {
    margin-top: 35px;
    font-size: 20px;
    color: $gray-space;
    &-facebook {
      margin: 5px 15px;
      &:hover {
        color: $facebook;
      }
    }
    &-twitter {
      margin: 5px 15px;
      &:hover {
        color: $twitter;
      }
    }
    &-instagram {
      margin: 5px 15px;
      &:hover {
        color: $instagram;
      }
    }
    &-google {
      margin: 5px 15px;
      &:hover {
        color: $google;
      }
    }
    &-linkedin {
      margin: 5px 15px;
      &:hover {
        color: $linkedin;
      }
    }
  }
  &Newsletter {
    padding: 0 15px;
  }
  &Form {
    border-radius: 26px;
    margin: 25px 0 0 0;
    height: 50px;
    display: flex;
    background-color: $white;
    @include media-breakpoint-down(md) {
    }
    @include media-breakpoint-down(sm) {
      background-color: $white;
      height: 40px;
    }
    &-input {
      border: none;
      border-top-left-radius: 45px;
      border-bottom-left-radius: 45px;
      border-top-right-radius: 15px;
      @include media-breakpoint-down(md) {
        min-height: 50px;
        border-top-right-radius: 45px;
        border-bottom-right-radius: 45px;
        margin-bottom: 12px;
      }
      @include media-breakpoint-down(sm) {
        min-height: 40px;
      }
    }
    .button {
      max-width: 150px;
      height: 50px;
      @include media-breakpoint-down(sm) {
        max-width: 130px;
        height: 40px;
        padding: 6px 25px;
      }
    }
  }
  .modal-target {
    &:hover {
      opacity: 0.4;
    }
  }
  .shows {
    display: block;
    visibility: visible;
  }
}
