.Hero {
  display: flex;
  flex: 1;
  justify-content: space-around;
  background-color: $gray-light;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }

  &-banner {
    width: 100%;
    background-image: url(https://livedemo00.template-help.com/wt_62466_v3/images/landing-environment-1-960x870.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    @include media-breakpoint-down(lg) {
      height: 500px;
      background-size: cover;
      background-position: center;
    }
    @include media-breakpoint-down(sm) {
      height: 356px;
    }
  }
  &Card {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $gray-light;
    @include media-breakpoint-down(lg) {
      padding: 100px 0;
    }
    @include media-breakpoint-down(sm) {
      padding-top: 95px;
      padding-bottom: 50px;
    }
    &-bold {
      font-weight: 400;
    }
    &-title {
      max-width: 300px;
      font-family: $font-primary;
      font-weight: 200;
      font-size: 48px;
      line-height: 1.375;
      letter-spacing: 0.96px;
      color: $blue-light;
      &::after {
        display: block;
        content: "";
        background: $gradient;
        height: 1px;
        width: 100px;
        opacity: 0.25;
        margin: 40px auto 40px;
        @include media-breakpoint-down(lg) {
          margin: 30px auto 10px;
        }
        @include media-breakpoint-down(sm) {
          margin: 22px auto 2px auto;
        }
      }
      @include media-breakpoint-down(lg) {
        font-size: 28px;
        max-width: 170px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 24px;
        letter-spacing: 4px;
        max-width: 180px;
      }
    }

    &-text {
      max-width: 580px;
      font-family: $font-secondary;
      margin-bottom: 25px;

      font-size: 24px;
      font-weight: 300;
      line-height: 1.41;
      color: $blue-light;
      @include media-breakpoint-down(lg) {
        max-width: 720px;
        font-size: 19px;
        margin-top: 0px;
      }
      @include media-breakpoint-down(sm) {
        max-width: 88%;
        margin-bottom: 30px;
      }
    }
    .button {
      &:hover {
        background-color: $purple2;
        border-color: $purple2;
      }
      @include media-breakpoint-down(lg) {
        font-size: 15px;
        max-width: 210px;
        height: 51px;
        padding: 12px 1px;
        font-weight: 400;
      }
      @include media-breakpoint-down(sm) {
        height: 45px;
        padding: 12px 1px;
      }
    }
  }
}
