.Lastest {
  padding: 125px 0;
  background-color: $gray-light;
  @include media-breakpoint-down(lg) {
    padding: 80px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 60px 0;
  }

  &-text {
    font-family: $font-primary;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
    &::after {
      display: block;
      content: "";
      background: linear-gradient(to right, $pink 50%, $purple 120%);
      height: 2px;
      width: 100px;
      margin: 40px auto 0 auto;
    }
    @include media-breakpoint-down(lg) {
      font-size: 25px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 24px !important;
    }
  }
}
