.Menu {
  display: flex;
  margin: 50px 0 -50px 0;
  align-items: center;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
  .hamburger-menu {
    display: none;
  }
  &Navs {
    width: 100%;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &-nav {
    display: flex;
    list-style: none;
    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }
  }
  &-item {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      color: $purple2;
    }
    @include media-breakpoint-down(lg) {
    }
  }
  &-link {
    text-decoration: none;
    font-family: $font-primary;
    font-weight: 300;
    font-size: 18px;
    color: $white;
    display: inline-block;
    margin-top: 10px;
    margin-left: 29.5px;
    margin-right: 29.5px;
    transition: 0.25s;
    &:hover {
      color: $purple2;
    }
  }
  &Copy {
    width: 100%;
    &-text {
      color: $dark-light;
      font-family: $font-secondary;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.55;
      letter-spacing: 0.9px;
      text-align: end;
      margin-right: 64px;
      @include media-breakpoint-down(lg) {
        text-align: left;
        margin-left: 55px;
      }
      @include media-breakpoint-down(lg) {
        text-align: center;
        margin-left: 21px;
      }
    }
  }
  //Menu Responsiber
  @include media-breakpoint-down(sm) {
    .hamburger-menu{
      display: block
    }
    #menu__toggle {
      opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: -38px;
    left: 160px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
  }
  .menu__btn > span::before {
      content: '';
      top: -8px;
  }
  .menu__btn > span::after {
      content: '';
      top: 8px;
  }
  
  .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      background: linear-gradient(135deg, #ed2fd3 0%, #001e8e 100%);
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  .menu__item {
      display: block;
      padding: 12px 24px;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
  }
  .menu__item:hover {
      background: linear-gradient(135deg, #ed2fd3 0%, #001e8e 100%);
  }
  #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
      transition-duration: .25s;
  }
  .menu__box {
      transition-duration: .25s;
  }
  .menu__item {
      transition-duration: .25s;
  }
  }
}
