.Product {
  background-color: $gray-light;
  padding-top: 125px;
  padding-bottom: 125px;
  @include media-breakpoint-down(lg) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &Container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;
    }
    @include media-breakpoint-down(sm) {
      max-width: 96%;
      padding: 0 15px;
    }

    &-banner {
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 458px;
      @include media-breakpoint-down(sm) {
        height: 345px;
      }
    }
    &Card {
      width: 100%;
      display: flex;
      justify-content: center;

      &-body {
        max-width: 578px;
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(lg) {
          max-width: 645px;
          margin-left: 0;
          margin-bottom: 50px;
          @include media-breakpoint-down(sm) {
            margin-left: 0px;
          }
        }
      }
      &-title {
        font-family: $font-primary;
        text-transform: uppercase;
        font-size: 48px;
        max-width: 600px;
        font-weight: 400;
        margin-bottom: 40px;
        @include media-breakpoint-down(lg) {
          font-size: 28px;
          margin: 0;
        }
        @include media-breakpoint-down(sm) {
          font-size: 24px;
        }
        &::after {
          display: block;
          content: "";
          background: $gradient;
          height: 3px;
          width: 100px;
          margin: 40px 0px 0px 0px;
          @include media-breakpoint-down(lg) {
            margin: 20px 0 10px;
          }
        }
      }
      &-text {
        font-family: $font-secondary;
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 20px;
        @include media-breakpoint-down(lg) {
          font-size: 19px;
        }
      }
      &-span {
        font-family: $font-secondary;
        color: $dark-light;
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 25px;
        @include media-breakpoint-down(lg) {
          font-size: 15px;
          font-weight: 300;
          line-height: 1.6;
        }
        @include media-breakpoint-down(sm) {
          font-size: 15px;
        }
      }

      &-button {
        text-decoration: none;
        font-family: $font-primary;
        color: $dark;
        text-transform: uppercase;
        background-color: $white;
        padding: 14px 64px;
        border: 1px solid $gray-space;
        border-radius: 25px;
        letter-spacing: 2px;
        width: 100%;
        max-width: 230px;
        text-decoration: none;
        height: 55px;
        @include media-breakpoint-down(sm) {
          padding: 15px 56px;
          max-width: 210px;
          font-size: 15px;
        }

        &:hover {
          color: $white;
          background-color: $purple;
        }
      }
    }
  }
}
