.Service {
  .rever {
    background-color: white;
    flex-direction: row-reverse;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }
  &Container {
    display: flex;
    align-items: center;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    &-banner {
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 570px;
    }
    &Card {
      width: 100%;
      display: flex;
      justify-content: center;
      &-body {
        display: flex;
        flex-direction: column;
        max-width: 570px;
        @include media-breakpoint-down(lg) {
          margin: 80px 0;
        }
        @include media-breakpoint-down(sm) {
          padding: 0 15px;
        }
      }
      &-title {
        font-family: $font-primary;
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: 48px;
        max-width: 600px;
        font-weight: 400;
        @include media-breakpoint-down(lg) {
          font-size: 28px;
          margin: 0;
        }
        @include media-breakpoint-down(sm) {
          font-size: 24px;
     
        }
        &::after {
          display: block;
          content: "";
          background: linear-gradient(to right, $pink 50%, $purple 120%);
          height: 3px;
          width: 100px;
          margin: 40px 0px 0px 0px;
          @include media-breakpoint-down(lg) {
            margin: 20px 0 10px;
          }
        }
      }
      &-text {
        font-family: $font-secondary;
        color: $dark-light;
        font-weight: 300;
        font-size: 18px;
        max-width: 600px;
        margin-bottom: 25px;
        @include media-breakpoint-down(lg) {
          font-size: 15px;
          max-width: 600px;
        }
      }

      &-button {
        text-decoration: none;
        font-family: $font-primary;
        color: $white;
        text-transform: uppercase;
        background-color: $pink;
        padding: 14px 64px;
        border: 1px solid $white;
        border-radius: 25px;
        letter-spacing: 2px;
        width: 100%;
        max-width: 230px;
        max-height: 55px;
        text-decoration: none;
        @include media-breakpoint-down(sm) {
          padding: 8px 56px;
          font-size: 15px;
          max-width: 210px;
        }
        &:hover {
          color: $white;
          background-color: $purple;
        }
      }
    }
  }
}
