.Team {
  padding:125px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media-breakpoint-down(lg) {
    padding: 80px 0;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &-title {
    font-size: 48px;
    margin: 0;
    font-family: $font-primary;
    text-align: center;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
    &::after {
      display: block;
      content: "";
      background: linear-gradient(to right, $pink 50%, $purple 120%);
      height: 1px;
      width: 100px;
      opacity: 0.25;
      margin: 40px auto 85px auto;
    }
  }

  &Member {
    padding: 15px;
    &-banner{
       border-radius: 50%;
       max-width: 300px;
    }
    &-container{
      padding: 0 60px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 50px;
      }
      @include media-breakpoint-down(sm) {
        padding: 0 45px;
      }
    }
    &-card {
      text-align: center;
      margin-left: auto;
    margin-right: auto;
    }
    &-title {
      text-decoration: none;
      text-align: center;
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.41667;
      color: $pink;
      &:hover {
        color: $purple;
      }
    }
    &-text {
      font-weight: 200;
      text-align: center;
      font-style: italic;
    }
    &Social {
      text-align: center;
      margin: 15px 8px 0 0;
      font-weight: 400;
      font-size: 22px;
      &-item {
        padding: 0 8px;
        color: $gray-space;
        font-weight: bold;
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
