.Testimonials{
    background-image: url(https://livedemo00.template-help.com/wt_62466_v3/images/bg-09.jpg);
    padding: 125px 0;  
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-down(lg) {
      padding: 80px 0;
    }
    @include media-breakpoint-down(sm) {
      padding: 60px 0;
      font-size: 25px !important;
    }
   
    &-text{
        font-family: $font-primary;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin: 0;
        @include media-breakpoint-down(lg) {
            font-size: 25px;
          }
          @include media-breakpoint-down(sm) {
            font-size: 25px !important;
          }
        &::after {
            display: block;
            content: "";
            background:$gradient;
            height: 1px;
            width: 100px;
            margin:40px auto 0px  auto ;
            
          
        }
    }
    
}